html * {
    background-color: black;
    font-family: Arial, sans-serif;
    margin-left: 16px;
}

.wd-bg-color-black {background-color: black;}
.wd-bg-color-gray {background-color: rgb(47, 51, 54);}
.wd-fg-color-white {color: white;}

.wd-search-bar {
    background: rgb(47, 51, 54)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 16px;
    color: white;
    width: 80%;
    border-radius: 50px;
    border-width: 0;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-explore-setting {
    color: dodgerblue;
    border-width: 0;
    margin-left: 12px;
    font-size: 40px;
}

.wd-nav-tabs {
    color: rgb(29, 161, 242);
    padding: 0;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding: 16px;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29, 161, 242);
    padding: 0 0 10px;
}

