/*
Taken from stackoverflow
Source: https://stackoverflow.com/questions/16084209/how-can-i-disable-the-bootstrap-hover-color-for-links
*/
a:hover {
    color: white !important;
    text-decoration: none;
    background-color: #212327 !important;
}

/*
Taken from StackOverflow
Source: Source: https://stackoverflow.com/questions/48258115/bootstrap-form-input-change-background-color-on-text-enter-and-revert-on-empty-f
*/
.form-control:valid {
    background-color: #212327 !important;
    color: white !important;
}

.wd-bg-color-black {
    background-color: black;
}

.wd-fg-color-black {
    color: black
}

.wd-magnifying-glass {
    bottom: 5px;
    left: 33px;
    color: #5e666d
}

.wd-fg-white {
    color: white;
}

.wd-bg-white {
    background-color: white
}

.wd-icon-selected {
    font-size: 1.45rem;
}

.wd-bg-grey {
    background-color: #16181c;
}

.wd-fg-blue {
    color: rgb(29, 161, 242);
}

.wd-bg-color-blue {
    background-color: rgb(29, 161, 242);
}

.wd-search-bar {
    background-color: #212327;
    border: none;
}

.wd-nav-bar {
    border-bottom: none;
    border-color: #212327;
}

.wd-nav-tabs {
    color: #60676e;
    border-bottom: red
}

.wd-follow-button {
    background-color: white;
    color: black;
    border: none
}

.wd-main-content {
    border-style: solid;
    border-color: #212327;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
}

.wd-border-grey {
    border-style: solid;
    border-color: #212327;
    border-width: 1px;
}

