/*
Taken from stackoverflow
Source: https://stackoverflow.com/questions/16084209/how-can-i-disable-the-bootstrap-hover-color-for-links
*/
a:hover {
    color: #5c6269 !important;
    background-color: #ecf0f1 !important;
}

/*
Taken from StackOverflow
Source: Source: https://stackoverflow.com/questions/48258115/bootstrap-form-input-change-background-color-on-text-enter-and-revert-on-empty-f
*/
/*.form-control:valid {*/
/*    background-color: #212327 !important;*/
/*    color: white !important;*/
/*}*/

.wd-sidebar-active {
    background-color: rgb(29, 161, 242);
    color: white;
}


.wd-magnifying-glass {
    bottom: 10px;
    left: 25px;
    color: #5e666d
}

.wd-fg-white {
    color: white;
}

.wd-bg-white {
    background-color: white
}

.wd-icon-selected {
    font-size: 1.45rem;
}

.wd-bg-grey {
    background-color: #16181c;
}

.wd-fg-blue {
    color: rgb(29, 161, 242);
}

.wd-bg-color-blue {
    background-color: rgb(29, 161, 242);
}

.wd-nav-tabs {
    color: rgb(29, 161, 242);
}

.wd-follow-button {
    background-color: rgb(29, 161, 242);
    border: none;
}


.wd-border-grey {
    border-style: solid;
    border-color: #212327;
    border-width: 1px;
}

