html * {
    background-color: black;
    font-family: Arial, sans-serif;
}

hr {
    border-width: 0;
    height: 1px;
    background-color: rgb(47, 51, 54);
    margin-top: 12px;
    margin-bottom: 0;
}

.wd-margin-top { margin-top: 12px}

.wd-margin-left { margin-left: 16px}

.wd-margin-right { margin-right: 16px}

.wd-fg-color-white {color: white;}

.wd-fg-color-grey {color: rgb(110, 118, 125);}

.wd-bookmark-header {
    margin-top: 12px;
    font-size: 20px;
    margin-bottom: 0;
}

.wd-user-handle {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 12px;
}

.wd-profile-icon-48px {
    margin-top: 12px;
    border-radius: 50px;
    height: 48px;
    width: 48px;
}

.wd-bookmark-options {
    border-width: 0;
    color: rgb(29, 161, 242);
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-float-clear {
    clear: both;
}

.wd-float-one-tenth {
    width: 10%;
    float: left;
}

.wd-float-nine-tenth {
    width: 90%;
    float: left;
}

.wd-tuit-author-name {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
}

.wd-tuit-author-handle {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 15px;
}

.wd-tuit-content {
    font-size: 15px;
    width: 506px;
    margin: 5px 16px 12px 12px;
}

.wd-tuit-media {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 504px;
    height: 264px;
}

.wd-tuit-media-title {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 12px 12px 5px 12px;
    margin: 0;
}

.wd-tuit-media-text {
    font-size: 15px;
    color: rgb(110, 118, 125);
    padding: 0 12px 12px 12px;
    margin: 0;
    word-wrap: break-word;
}

.wd-tuit-media-round-border {
    border-style: solid;
    border-radius: 12px;
    border-width: 1px;
    color: rgb(110, 118, 125);
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    width: 504px;
    overflow: hidden;
}

.wd-float-interaction-area {
    width: calc(90%/4);
    float: left;
}

.wd-tuit-interaction-area {
    text-decoration: none;
    color: rgb(110, 118, 125);
    padding-right: 12px;
}

.wd-tuit-favorite-active {
    color: rgba(224,36,94,255);
}



